## Mini Project 3 Part A

## SQL Movie Database for Movie Popularity Analysis

## 100 Points (will be converted to 10 points)

In this mini-project, you will work with a movie dataset collected by James Gaskin, available at: https://data.world/jamesgaskin/is201movies/workspace/file?filename=MovieList+New.xlsx.

Please load the pre-built SQL database by typing the following command in the terminal:

```bash
mysql -e 'CREATE DATABASE [Your_NetID]_movies;'
mysql [Your_NetID]_movies < movie_user_rating.sql
```

Replace [Your_NetID] with your NetID. For example, if your NetID is `hz333`, you would type:

```bash
mysql -e 'CREATE DATABASE hz333_movies;'
mysql hz333_movies < movie_user_rating.sql
```

Make sure you have the `movie_user_rating.sql` file in the same directory where you are running the above commands.

In the pre-built SQL database, the movie information has been loaded as an SQL table named **movie**. Additionally, randomly generated user information is available in an SQL table named **user**, and user ratings are stored in an SQL table named **rating**.

Your task is to formulate SQL queries in the Jupyter Notebook under the section "Queries to Movies SQL Database" by replacing the line "__Your_SQL_Query_Here__".

The goal of this mini-project is to analyze the movie dataset to understand the popularity of movies based on movie release_date, genre, and user ratings. The obtained results are presented as SQL Tables.

This goal is achieved by solving the following tasks:

- [Find movies titles with certain prefixes](#task-1-find-movie-titles-that-begin-with-the-sort-by-release-date-limit-to-the-latest-10-movies)
- [Find the number of movies released by years](#task-2-find-the-number-of-movies-released-by-years)
- [Identify the number of movies released by genres](#task-3-identify-the-number-of-movies-released-by-genres)
- [Identify the top rated movies by users](#task-4-identify-the-top-rated-movies-by-users)

### Imports and Definitions of helper functions

Please make sure you run the next cell to import the necessary libraries before you start working on the assigned tasks.

In [31]:
from mysql.connector import connect, Error
import time

Please make sure you run the next two cells to define the helper functions before you start working on the assigned tasks.

In [32]:
WAIT_TIME = 10
def connect_to_db(db_name):
    """
    Connect to the database
    IN: db_name, str, the name of the database in MySQL
    OUT: mydb, the database connection
    EXCEPTION: TimeoutError, if the database is not running
    """

    num_of_tries = 0
    while num_of_tries < WAIT_TIME:
        try:
            mydb = connect(host="127.0.0.1", user="root", db=db_name)
            if mydb.is_connected():
                print("Connected")
                break
        except Error as e:
            print(e)

        num_of_tries += 1
        print("Waiting for MySQL to start")
        time.sleep(1)

    if num_of_tries >= WAIT_TIME:
        raise TimeoutError("MySQL is not running")

    return mydb

In [33]:
def do_query(cursor, query):
    """
    Execute a query and print the results
    IN: cursor, the cursor object
        query, the query to be executed
    OUT: res, list[tuple], the results of the query
    """
    cursor.execute(query)
    res = cursor.fetchall()
    print(cursor.column_names)
    for row in res:
        print(row)
    return res

### Connect to Movies SQL Database

To connect to the SQL database, you need to run the following cell. Please make sure you specify your database name correctly.

In [34]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    mydb = connect_to_db("sb2431_movies") # change the database name to your database
    cursor = mydb.cursor()

Connected

### Movies SQL Database Schema

Before you start working on the assigned tasks, it is a good idea to understand the schema of the SQL database by running the next two cells.

In [36]:
def get_table_specification_query(table_name):
    """
    Generate the SQL query to show the table specification
    IN: table_name, str, the name of the table
    OUT: str, the SQL query
    """
    return f"DESC {table_name}"

In [37]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    for table_name in ['movie', 'user', 'rating']:
        print(f'Table: {table_name}')
        query = get_table_specification_query(table_name)
        res = do_query(cursor, query)

Table: movie
('Field', 'Type', 'Null', 'Key', 'Default', 'Extra')
('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('title', 'varchar(100)', 'NO', 'MUL', None, '')
('release_date', 'date', 'NO', '', None, '')
('genre', 'varchar(20)', 'NO', '', None, '')
Table: user
('Field', 'Type', 'Null', 'Key', 'Default', 'Extra')
('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('uname', 'char(8)', 'NO', 'UNI', None, '')
('age', 'tinyint', 'NO', '', None, '')
('state', 'varchar(14)', 'NO', '', None, '')
Table: rating
('Field', 'Type', 'Null', 'Key', 'Default', 'Extra')
('userid', 'int', 'NO', 'PRI', None, '')
('movieid', 'int', 'NO', 'PRI', None, '')
('rating', 'tinyint', 'NO', '', None, '')

### Sample Data in Movies SQL Database

Before you start working on the assigned tasks, it is a good idea to take a look at a snapshot of the data in the SQL database by running the next two cells.

In [38]:
def get_sample_data_query(table_name, num_rows=5):
    """
    Generate the SQL query to show the sample data
    IN: table_name, str, the name of the table
    OUT: str, the SQL query
    """
    return f"SELECT * FROM {table_name} LIMIT {num_rows}"

In [39]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    for table_name in ['movie', 'user', 'rating']:
        print(f'Table: {table_name}')
        query = get_sample_data_query(table_name)
        res = do_query(cursor, query)

Table: movie
('id', 'title', 'release_date', 'genre')
(1, "Look Who's Talking", datetime.date(1989, 10, 12), 'Romance')
(2, 'Driving Miss Daisy', datetime.date(1989, 12, 13), 'Comedy')
(3, 'Turner & Hooch', datetime.date(1989, 7, 28), 'Crime')
(4, 'Born on the Fourth of July', datetime.date(1989, 12, 20), 'War')
(5, 'Field of Dreams', datetime.date(1989, 4, 21), 'Drama')
Table: user
('id', 'uname', 'age', 'state')
(1, 'ZqkCe579', 19, 'Delaware')
(2, 'ktFAM702', 53, 'North Carolina')
(3, 'NeOEI446', 35, 'Delaware')
(4, 'DvXQj522', 68, 'Ohio')
(5, 'OVnAt417', 31, 'Ohio')
Table: rating
('userid', 'movieid', 'rating')
(1, 1, 7)
(1, 21, 3)
(1, 27, 3)
(1, 63, 9)
(1, 67, 4)

### Queries to Movies SQL Database

Please replace the line "__Your_SQL_Query_Here__" with your SQL query to solve the assigned tasks.

#### Task 1: Find movie titles that begin with 'The', sort by release date in descending order, and limit to the latest 10 movies

Your query result Table should look like this:

```text
+-------+--------------+
| title | release_date |
+-------+--------------+
| ...   | ...          |
+-------+--------------+
```

In [60]:
def get_latest_movies_by_title_prefix_query(prefix="The", num_rows=10):
    """
    Generate the SQL query to show the latest movies that start with a prefix
    IN: prefix, str, the prefix of the movie title
        num_rows, int, the number of rows to return
    OUT: str, the SQL query
    """
    
    return f"""
    SELECT * FROM movie;
    """

In [61]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    query = get_latest_movies_by_title_prefix_query(prefix="A", num_rows=15)
    res = do_query(cursor, query)

('id', 'title', 'release_date', 'genre')
(1, "Look Who's Talking", datetime.date(1989, 10, 12), 'Romance')
(2, 'Driving Miss Daisy', datetime.date(1989, 12, 13), 'Comedy')
(3, 'Turner & Hooch', datetime.date(1989, 7, 28), 'Crime')
(4, 'Born on the Fourth of July', datetime.date(1989, 12, 20), 'War')
(5, 'Field of Dreams', datetime.date(1989, 4, 21), 'Drama')
(6, 'Uncle Buck', datetime.date(1989, 8, 16), 'Family')
(7, 'When Harry Met Sally...', datetime.date(1989, 7, 21), 'Romance')
(8, 'Dead Poets Society', datetime.date(1989, 6, 2), 'Drama')
(9, 'Parenthood', datetime.date(1989, 7, 31), 'Comedy')
(10, 'Lethal Weapon 2', datetime.date(1989, 7, 7), 'Comedy')
(11, 'The War of the Roses', datetime.date(1989, 12, 8), 'Comedy')
(12, "National Lampoon's Christmas Vacation", datetime.date(1989, 12, 1), 'Action')
(13, 'Honey, I Shrunk the Kids', datetime.date(1989, 6, 22), 'Family')
(14, 'Batman', datetime.date(1989, 6, 23), 'Action')
(15, 'Ghostbusters II', datetime.date(1989, 6, 15), 'Comedy')
(16, 'The Little Mermaid', datetime.date(1989, 11, 17), 'Animation')
(17, 'Back to the Future Part II', datetime.date(1989, 11, 20), 'Science Fiction')
(18, 'Indiana Jones and the Last Crusade', datetime.date(1989, 5, 24), 'Adventure')
(19, 'Tango & Cash', datetime.date(1989, 12, 22), 'Action')
(20, 'Steel Magnolias', datetime.date(1989, 11, 15), 'Drama')
(21, 'Three Men and a Little Lady', datetime.date(1990, 11, 21), 'Family')
(22, 'Teenage Mutant Ninja Turtles', datetime.date(1990, 3, 30), 'Action')
(23, 'Pretty Woman', datetime.date(1990, 3, 23), 'Romance')
(24, 'Kindergarten Cop', datetime.date(1990, 12, 21), 'Action')
(25, 'Home Alone', datetime.date(1990, 11, 9), 'Family')
(26, 'Bird on a Wire', datetime.date(1990, 5, 18), 'Comedy')
(27, 'Misery', datetime.date(1990, 11, 28), 'Drama')
(28, 'Edward Scissorhands', datetime.date(1990, 12, 5), 'Drama')
(29, 'Ghost', datetime.date(1990, 7, 12), 'Thriller')
(30, 'Presumed Innocent', datetime.date(1990, 7, 26), 'Crime')
(31, 'Dances with Wolves', datetime.date(1990, 11, 9), 'Western')
(32, 'Flatliners', datetime.date(1990, 8, 9), 'Horror')
(33, 'The Hunt for Red October', datetime.date(1990, 3, 2), 'Thriller')
(34, 'Another 48 Hrs.', datetime.date(1990, 6, 8), 'Action')
(35, 'Back to the Future Part III', datetime.date(1990, 5, 25), 'Family')
(36, 'Dick Tracy', datetime.date(1990, 6, 15), 'Crime')
(37, 'The Godfather: Part III', datetime.date(1990, 12, 24), 'Drama')
(38, 'Days of Thunder', datetime.date(1990, 6, 27), 'Adventure')
(39, 'Total Recall', datetime.date(1990, 6, 1), 'Science Fiction')
(40, 'Die Hard 2', datetime.date(1990, 7, 2), 'Thriller')
(41, 'Fried Green Tomatoes', datetime.date(1991, 12, 27), 'Comedy')
(42, 'The Silence of the Lambs', datetime.date(1991, 2, 1), 'Crime')
(43, 'Sleeping with the Enemy', datetime.date(1991, 2, 8), 'Drama')
(44, 'Father of the Bride', datetime.date(1991, 12, 20), 'Romance')
(45, 'The Naked Gun 2 1/2: The Smell of Fear', datetime.date(1991, 6, 28), 'Drama')
(46, 'Teenage Mutant Ninja Turtles II', datetime.date(1991, 3, 22), 'Action')
(47, 'Beauty and the Beast', datetime.date(1991, 11, 13), 'Animation')
(48, 'Hot Shots!', datetime.date(1991, 7, 31), 'Comedy')
(49, 'City Slickers', datetime.date(1991, 6, 7), 'Comedy')
(50, 'Star Trek VI: The Undiscovered Country', datetime.date(1991, 12, 5), 'Science Fiction')
(51, 'The Addams Family', datetime.date(1991, 11, 22), 'Comedy')
(52, 'The Prince of Tides', datetime.date(1991, 12, 25), 'Romance')
(53, 'What About Bob?', datetime.date(1991, 5, 17), 'Comedy')
(54, 'Cape Fear', datetime.date(1991, 11, 15), 'Crime')
(55, 'JFK', datetime.date(1991, 12, 20), 'Drama')
(56, 'Robin Hood: Prince of Thieves', datetime.date(1991, 6, 14), 'Adventure')
(57, 'Hook', datetime.date(1991, 12, 11), 'Family')
(58, 'Backdraft', datetime.date(1991, 5, 24), 'Mystery')
(59, 'Terminator 2: Judgment Day', datetime.date(1991, 7, 1), 'Science Fiction')
(60, 'The Crying Game', datetime.date(1992, 9, 2), 'Romance')
(61, 'The Hand that Rocks the Cradle', datetime.date(1992, 1, 10), 'Drama')
(62, 'Unforgiven', datetime.date(1992, 8, 7), 'Western')
(63, 'Home Alone 2: Lost in New York', datetime.date(1992, 11, 19), 'Family')
(64, "Wayne's World", datetime.date(1992, 2, 14), 'Comedy')
(65, 'The Bodyguard', datetime.date(1992, 11, 25), 'Action')
(66, 'Aladdin', datetime.date(1992, 11, 25), 'Animation')
(67, "White Men Can't Jump", datetime.date(1992, 3, 26), 'Comedy')
(68, 'Sister Act', datetime.date(1992, 5, 28), 'Comedy')
(69, 'Scent of a Woman', datetime.date(1992, 12, 23), 'Drama')
(70, 'Lethal Weapon 3', datetime.date(1992, 5, 15), 'Action')
(71, 'Under Siege', datetime.date(1992, 10, 8), 'Action')
(72, 'Boomerang', datetime.date(1992, 6, 30), 'Romance')
(73, 'A League of Their Own', datetime.date(1992, 7, 1), 'Comedy')
(74, 'The Last of the Mohicans', datetime.date(1992, 9, 25), 'Action')
(75, "Bram Stoker's Dracula", datetime.date(1992, 11, 13), 'Drama')
(76, 'A Few Good Men', datetime.date(1992, 12, 11), 'Drama')
(77, 'Patriot Games', datetime.date(1992, 6, 4), 'Thriller')
(78, 'Basic Instinct', datetime.date(1992, 3, 20), 'Thriller')
(79, 'Batman Returns', datetime.date(1992, 6, 19), 'Action')
(80, 'Cool Runnings', datetime.date(1993, 9, 30), 'Comedy')
(81, 'Groundhog Day', datetime.date(1993, 2, 11), 'Comedy')
(82, 'Free Willy', datetime.date(1993, 7, 16), 'Family')
(83, 'Sleepless in Seattle', datetime.date(1993, 6, 24), 'Romance')
(84, "Schindler's List", datetime.date(1993, 11, 29), 'History')
(85, 'Mrs. Doubtfire', datetime.date(1993, 11, 24), 'Family')
(86, 'Tombstone', datetime.date(1993, 12, 25), 'Drama')
(87, 'Philadelphia', datetime.date(1993, 12, 22), 'Drama')
(88, 'Dave', datetime.date(1993, 5, 7), 'Comedy')
(89, 'Grumpy Old Men', datetime.date(1993, 12, 25), 'Comedy')
(90, 'Indecent Proposal', datetime.date(1993, 4, 7), 'Drama')
(91, 'Sister Act 2: Back in the Habit', datetime.date(1993, 12, 9), 'Comedy')
(92, 'In the Line of Fire', datetime.date(1993, 7, 8), 'Crime')
(93, 'Rising Sun', datetime.date(1993, 7, 30), 'Thriller')
(94, 'The Firm', datetime.date(1993, 6, 30), 'Mystery')
(95, 'The Fugitive', datetime.date(1993, 8, 6), 'Adventure')
(96, 'The Pelican Brief', datetime.date(1993, 12, 16), 'Crime')
(97, 'Demolition Man', datetime.date(1993, 10, 8), 'Action')
(98, 'Cliffhanger', datetime.date(1993, 5, 28), 'Adventure')
(99, 'Jurassic Park III', datetime.date(2001, 7, 16), 'Thriller')
(100, 'Pulp Fiction', datetime.date(1994, 9, 10), 'Thriller')
(101, 'Ace Ventura: Pet Detective', datetime.date(1994, 2, 4), 'Comedy')
(102, 'Dumb and Dumber', datetime.date(1994, 12, 16), 'Comedy')
(103, 'The Santa Clause', datetime.date(1994, 11, 10), 'Family')
(104, 'The Mask', datetime.date(1994, 7, 29), 'Romance')
(105, 'Speed', datetime.date(1994, 6, 9), 'Action')
(106, 'Legends of the Fall', datetime.date(1994, 12, 16), 'Drama')
(107, 'Star Trek: Generations', datetime.date(1994, 11, 17), 'Science Fiction')
(108, 'The Lion King', datetime.date(1994, 6, 23), 'Animation')
(109, 'The Client', datetime.date(1994, 7, 20), 'Drama')
(110, 'The Specialist', datetime.date(1994, 10, 7), 'Action')
(111, 'The Flintstones', datetime.date(1994, 5, 26), 'Family')
(112, 'Forrest Gump', datetime.date(1994, 7, 6), 'Comedy')
(113, 'Stargate', datetime.date(1994, 10, 27), 'Science Fiction')
(114, 'Disclosure', datetime.date(1994, 12, 9), 'Drama')
(115, 'Interview with the Vampire', datetime.date(1994, 11, 11), 'Horror')
(116, 'Clear and Present Danger', datetime.date(1994, 8, 3), 'Thriller')
(117, 'Wolf', datetime.date(1994, 6, 17), 'Fantasy')
(118, 'Maverick', datetime.date(1994, 5, 20), 'Action')
(119, 'True Lies', datetime.date(1994, 7, 14), 'Action')
(120, 'While You Were Sleeping', datetime.date(1995, 4, 21), 'Romance')
(121, 'Dangerous Minds', datetime.date(1995, 8, 11), 'Crime')
(122, 'Grumpier Old Men', datetime.date(1995, 12, 22), 'Comedy')
(123, 'Father of the Bride Part II', datetime.date(1995, 2, 10), 'Comedy')
(124, 'Toy Story', datetime.date(1995, 10, 30), 'Animation')
(125, 'Ace Ventura: When Nature Calls', datetime.date(1995, 11, 10), 'Comedy')
(126, 'Get Shorty', datetime.date(1995, 10, 20), 'Comedy')
(127, "Mr. Holland's Opus", datetime.date(1995, 12, 29), 'Family')
(128, 'Se7en', datetime.date(1995, 9, 22), 'Action')
(129, 'Casper', datetime.date(1995, 5, 26), 'Family')
(130, 'Congo', datetime.date(1995, 6, 9), 'Drama')
(131, 'Apollo 13', datetime.date(1995, 6, 30), 'Drama')
(132, 'Crimson Tide', datetime.date(1995, 5, 12), 'Thriller')
(133, 'Pocahontas', datetime.date(1995, 6, 14), 'Animation')
(134, 'GoldenEye', datetime.date(1995, 11, 16), 'Action')
(135, 'Jumanji', datetime.date(1995, 12, 15), 'Family')
(136, 'Braveheart', datetime.date(1995, 5, 24), 'Action')
(137, 'Die Hard: With a Vengeance', datetime.date(1995, 5, 19), 'Thriller')
(138, 'Batman Forever', datetime.date(1995, 6, 16), 'Action')
(139, 'Waterworld', datetime.date(1995, 7, 28), 'Action')
(140, 'Scream', datetime.date(1996, 12, 20), 'Horror')
(141, 'The First Wives Club', datetime.date(1996, 9, 20), 'Comedy')
(142, 'The English Patient', datetime.date(1996, 11, 14), 'War')
(143, 'The Birdcage', datetime.date(1996, 3, 8), 'Comedy')
(144, 'Phenomenon', datetime.date(1996, 7, 5), 'Drama')
(145, 'A Time to Kill', datetime.date(1996, 7, 24), 'Crime')
(146, 'Star Trek: First Contact', datetime.date(1996, 11, 21), 'Science Fiction')
(147, 'Broken Arrow', datetime.date(1996, 2, 9), 'Thriller')
(148, 'Jerry Maguire', datetime.date(1996, 12, 6), 'Comedy')
(149, 'The Nutty Professor', datetime.date(1996, 6, 26), 'Comedy')
(150, '101 Dalmatians', datetime.date(1996, 11, 17), 'Comedy')
(151, 'The Rock', datetime.date(1996, 6, 6), 'Action')
(152, 'Independence Day', datetime.date(1996, 6, 25), 'Action')
(153, 'Mission: Impossible', datetime.date(1996, 5, 22), 'Action')
(154, 'Ransom', datetime.date(1996, 11, 8), 'Thriller')
(155, 'Space Jam', datetime.date(1996, 11, 15), 'Comedy')
(156, 'Twister', datetime.date(1996, 5, 10), 'Action')
(157, 'The Hunchback of Notre Dame', datetime.date(1996, 6, 21), 'Animation')
(158, 'Eraser', datetime.date(1996, 6, 21), 'Drama')
(159, 'Michael', datetime.date(1996, 12, 25), 'Fantasy')
(160, 'Good Will Hunting', datetime.date(1997, 12, 5), 'Drama')
(161, 'I Know What You Did Last Summer', datetime.date(1997, 10, 17), 'Horror')
(162, 'Scream 2', datetime.date(1997, 12, 9), 'Horror')
(163, "My Best Friend's Wedding", datetime.date(1997, 6, 19), 'Comedy')
(164, 'Liar Liar', datetime.date(1997, 3, 21), 'Comedy')
(165, 'As Good as It Gets', datetime.date(1997, 12, 19), 'Comedy')
(166, 'George of the Jungle', datetime.date(1997, 7, 15), 'Family')
(167, 'The Lost World: Jurassic Park', datetime.date(1997, 5, 23), 'Action')
(168, 'Con Air', datetime.date(1997, 6, 1), 'Action')
(169, 'Conspiracy Theory', datetime.date(1997, 8, 7), 'Action')
(170, 'Face/Off', datetime.date(1997, 6, 27), 'Thriller')
(171, 'Flubber', datetime.date(1997, 11, 26), 'Science Fiction')
(172, 'Hercules', datetime.date(1997, 6, 26), 'Animation')
(173, 'Air Force One', datetime.date(1997, 7, 25), 'Action')
(174, 'Men in Black', datetime.date(1997, 7, 2), 'Thriller')
(175, 'Contact', datetime.date(1997, 7, 11), 'Science Fiction')
(176, 'Tomorrow Never Dies', datetime.date(1997, 12, 11), 'Action')
(177, 'Batman and Robin', datetime.date(1997, 6, 12), 'Action')
(178, 'Titanic', datetime.date(1997, 11, 18), 'Romance')
(179, "There's Something About Mary", datetime.date(1998, 7, 15), 'Romance')
(180, 'The Waterboy', datetime.date(1998, 11, 6), 'Comedy')
(181, 'Shakespeare in Love', datetime.date(1998, 12, 11), 'History')
(182, 'The Rugrats Movie', datetime.date(1998, 11, 20), 'Animation')
(183, 'Rush Hour', datetime.date(1998, 9, 18), 'Comedy')
(184, 'Stepmom', datetime.date(1998, 12, 25), 'Drama')
(185, 'Patch Adams', datetime.date(1998, 12, 25), 'Drama')
(186, 'The Truman Show', datetime.date(1998, 6, 4), 'Comedy')
(187, "You've Got Mail", datetime.date(1998, 12, 17), 'Romance')
(188, 'Saving Private Ryan', datetime.date(1998, 7, 24), 'War')
(189, 'The Prince of Egypt', datetime.date(1998, 12, 15), 'Animation')
(190, 'Doctor Dolittle', datetime.date(1998, 6, 22), 'Family')
(191, 'Deep Impact', datetime.date(1998, 5, 8), 'Drama')
(192, 'Mulan', datetime.date(1998, 6, 18), 'Animation')
(193, 'Enemy of the State', datetime.date(1998, 11, 20), 'Thriller')
(194, 'The Mask of Zorro', datetime.date(1998, 7, 16), 'Action')
(195, "A Bug's Life", datetime.date(1998, 11, 25), 'Animation')
(196, 'Godzilla', datetime.date(1998, 5, 20), 'Thriller')
(197, 'Armageddon', datetime.date(1998, 7, 1), 'Science Fiction')
(198, 'Lethal Weapon 4', datetime.date(1998, 7, 10), 'Comedy')
(199, 'The Blair Witch Project', datetime.date(1999, 7, 14), 'Horror')
(200, 'American Pie', datetime.date(1999, 7, 9), 'Comedy')
(201, 'American Beauty', datetime.date(1999, 9, 15), 'Drama')
(202, 'Big Daddy', datetime.date(1999, 6, 25), 'Comedy')
(203, 'The Sixth Sense', datetime.date(1999, 8, 6), 'Thriller')
(204, 'Notting Hill', datetime.date(1999, 5, 13), 'Romance')
(205, "The General's Daughter", datetime.date(1999, 6, 18), 'Thriller')
(206, 'The Green Mile', datetime.date(1999, 12, 10), 'Fantasy')
(207, 'The Matrix', datetime.date(1999, 3, 30), 'Science Fiction')
(208, 'Runaway Bride', datetime.date(1999, 7, 30), 'Romance')
(209, 'Double Jeopardy', datetime.date(1999, 9, 24), 'Crime')
(210, 'Analyze This', datetime.date(1999, 3, 5), 'Comedy')
(211, 'The Mummy', datetime.date(1999, 4, 16), 'Adventure')
(212, 'Toy Story 2', datetime.date(1999, 10, 30), 'Animation')
(213, 'Star Wars: Episode I - The Phantom Menace', datetime.date(1999, 5, 19), 'Science Fiction')
(214, 'Stuart Little', datetime.date(1999, 12, 17), 'Family')
(215, 'The World Is Not Enough', datetime.date(1999, 11, 8), 'Adventure')
(216, 'Tarzan', datetime.date(1999, 6, 18), 'Animation')
(217, 'Wild Wild West', datetime.date(1999, 6, 29), 'Western')
(218, 'Crouching Tiger, Hidden Dragon', datetime.date(2000, 10, 1), 'Romance')
(219, 'Scary Movie', datetime.date(2000, 7, 7), 'Comedy')
(220, "Big Momma's House", datetime.date(2000, 5, 31), 'Crime')
(221, 'Remember the Titans', datetime.date(2000, 9, 29), 'Drama')
(222, 'Chicken Run', datetime.date(2000, 6, 21), 'Comedy')
(223, 'Traffic', datetime.date(2000, 12, 27), 'Drama')
(224, 'Erin Brockovich', datetime.date(2000, 3, 17), 'Drama')
(225, 'Meet the Parents', datetime.date(2000, 10, 6), 'Comedy')
(226, 'What Women Want', datetime.date(2000, 12, 15), 'Comedy')
(227, 'X-Men', datetime.date(2000, 7, 13), 'Adventure')
(228, 'Nutty Professor II: The Klumps', datetime.date(2000, 7, 27), 'Comedy')
(229, 'Cast Away', datetime.date(2000, 12, 22), 'Drama')
(230, "Charlie's Angels", datetime.date(2000, 11, 2), 'Comedy')
(231, 'What Lies Beneath', datetime.date(2000, 7, 21), 'Drama')
(232, 'Gladiator', datetime.date(2000, 5, 1), 'Action')
(233, 'The Patriot', datetime.date(2000, 6, 28), 'History')
(234, 'The Perfect Storm', datetime.date(2000, 3, 15), 'Drama')
(235, 'How the Grinch Stole Christmas', datetime.date(2000, 11, 17), 'Family')
(236, 'Mission: Impossible II', datetime.date(2000, 5, 24), 'Adventure')
(237, 'Dinosaur', datetime.date(2000, 5, 19), 'Animation')
(238, 'American Pie 2', datetime.date(2001, 8, 10), 'Comedy')
(239, 'Spy Kids', datetime.date(2001, 3, 18), 'Family')
(240, 'The Princess Diaries', datetime.date(2001, 8, 3), 'Romance')
(241, 'The Fast and the Furious', datetime.date(2001, 6, 22), 'Crime')
(242, 'Shrek', datetime.date(2001, 5, 16), 'Animation')
(243, 'A Beautiful Mind', datetime.date(2001, 12, 11), 'Drama')
(244, 'Vanilla Sky', datetime.date(2001, 12, 10), 'Mystery')
(245, 'Dr. Dolittle 2', datetime.date(2001, 6, 22), 'Comedy')
(246, "Ocean's Eleven", datetime.date(2001, 12, 7), 'Thriller')
(247, 'Hannibal', datetime.date(2001, 2, 8), 'Thriller')
(248, 'Rush Hour 2', datetime.date(2001, 8, 3), 'Comedy')
(249, 'Black Hawk Down', datetime.date(2001, 12, 28), 'War')
(250, 'Jurassic Park III', datetime.date(2001, 7, 18), 'Adventure')
(251, 'The Lord of the Rings: The Fellowship of the Ring', datetime.date(2001, 12, 18), 'Fantasy')
(252, 'The Mummy Returns', datetime.date(2001, 4, 28), 'Adventure')
(253, 'Planet of the Apes', datetime.date(2001, 7, 25), 'Science Fiction')
(254, 'Lara Croft: Tomb Raider', datetime.date(2001, 6, 11), 'Adventure')
(255, 'Monsters, Inc.', datetime.date(2001, 11, 1), 'Comedy')
(256, "Harry Potter and the Sorcerer's Stone", datetime.date(2001, 11, 4), 'Fantasy')
(257, 'Pearl Harbor', datetime.date(2001, 5, 21), 'War')
(258, 'My Big Fat Greek Wedding', datetime.date(2002, 2, 22), 'Comedy')
(259, 'Sweet Home Alabama', datetime.date(2002, 9, 26), 'Romance')
(260, 'The Ring', datetime.date(2002, 10, 18), 'Horror')
(261, 'Mr. Deeds', datetime.date(2002, 6, 28), 'Comedy')
(262, 'Ice Age', datetime.date(2002, 3, 10), 'Animation')
(263, 'The Bourne Identity', datetime.date(2002, 6, 14), 'Action')
(264, 'Austin Powers in Goldmember', datetime.date(2002, 7, 26), 'Science Fiction')
(265, 'The Santa Clause 2', datetime.date(2002, 10, 31), 'Family')
(266, 'xXx', datetime.date(2002, 8, 9), 'Adventure')
(267, 'Signs', datetime.date(2002, 8, 2), 'Science Fiction')
(268, 'The Lord of the Rings: The Two Towers', datetime.date(2002, 12, 18), 'Fantasy')
(269, 'Lilo & Stitch', datetime.date(2002, 6, 21), 'Animation')
(270, 'Scooby-Doo', datetime.date(2002, 6, 14), 'Mystery')
(271, 'Harry Potter and the Chamber of Secrets', datetime.date(2002, 11, 13), 'Fantasy')
(272, 'Minority Report', datetime.date(2002, 6, 20), 'Science Fiction')
(273, 'Star Wars: Episode II - Attack of the Clones', datetime.date(2002, 5, 15), 'Science Fiction')
(274, 'Spider-Man', datetime.date(2002, 5, 1), 'Fantasy')
(275, 'Men in Black 2', datetime.date(2002, 7, 3), 'Action')
(276, 'Die Another Day', datetime.date(2002, 11, 17), 'Adventure')
(277, 'Bringing Down the House', datetime.date(2003, 3, 7), 'Comedy')
(278, 'Elf', datetime.date(2003, 10, 9), 'Comedy')
(279, 'Spy Kids 3-D: Game Over', datetime.date(2003, 7, 25), 'Family')
(280, 'Cheaper by the Dozen', datetime.date(2003, 12, 24), 'Comedy')
(281, 'Anger Management', datetime.date(2003, 4, 11), 'Comedy')
(282, '2 Fast 2 Furious', datetime.date(2003, 6, 5), 'Thriller')
(283, 'Bruce Almighty', datetime.date(2003, 5, 23), 'Comedy')
(284, 'S.W.A.T.', datetime.date(2003, 8, 8), 'Crime')
(285, "Something's Gotta Give", datetime.date(2003, 12, 12), 'Drama')
(286, 'Seabiscuit', datetime.date(2003, 7, 22), 'Drama')
(287, 'Finding Nemo', datetime.date(2003, 5, 30), 'Animation')
(288, 'The Lord of the Rings: The Return of the King', datetime.date(2003, 12, 1), 'Fantasy')
(289, 'X2: X-Men United', datetime.date(2003, 5, 2), 'Action')
(290, 'Bad Boys II', datetime.date(2003, 7, 18), 'Comedy')
(291, 'Hulk', datetime.date(2003, 6, 19), 'Science Fiction')
(292, 'Pirates of the Caribbean: The Curse of the Black Pearl', datetime.date(2003, 7, 9), 'Adventure')
(293, 'The Last Samurai', datetime.date(2003, 12, 5), 'War')
(294, 'The Matrix Reloaded', datetime.date(2003, 5, 15), 'Science Fiction')
(295, 'The Matrix Revolutions', datetime.date(2003, 11, 5), 'Science Fiction')
(296, 'Terminator 3: Rise of the Machines', datetime.date(2003, 7, 2), 'Thriller')
(297, 'Fahrenheit 9/11', datetime.date(2004, 6, 25), 'Drama')
(298, 'DodgeBall: A True Underdog Story', datetime.date(2004, 6, 18), 'Comedy')
(299, 'The Passion of the Christ', datetime.date(2004, 2, 25), 'Drama')
(300, 'The Village', datetime.date(2004, 7, 30), 'Drama')
(301, '50 First Dates', datetime.date(2004, 2, 13), 'Comedy')
(302, 'The Bourne Supremacy', datetime.date(2004, 7, 23), 'Action')
(303, 'Shark Tale', datetime.date(2004, 9, 20), 'Animation')
(304, 'Meet the Fockers', datetime.date(2004, 12, 22), 'Comedy')
(305, 'The Incredibles', datetime.date(2004, 11, 5), 'Animation')
(306, 'National Treasure', datetime.date(2004, 11, 19), 'Mystery')
(307, "Ocean's Twelve", datetime.date(2004, 12, 9), 'Thriller')
(308, 'I, Robot', datetime.date(2004, 7, 15), 'Science Fiction')

#### Task 2: Find the number of movies released by years

##### Task 2.1: Identify the number of movies released in 2015

Your query result Table should look like this:

```text
+------------+
| num_movies |
+------------+
| ...        |
+------------+
```


Hint: `YEAR(date)` SQL function can be used to extract year from a `date` field.

For example:
```sql
SELECT YEAR(movie.release_date) FROM movie;
```

In [64]:
def get_num_movies_released_in_year_query(year=2015):
    """
    Generate the SQL query to show the number of movies released in a year
    IN: year, int, the year
    OUT: str, the SQL query
    """
    
    return f"""
    __Your_SQL_Query_Here__
    """

In [ ]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    query = get_num_movies_released_in_year_query()
    res = do_query(cursor, query)

##### Task 2.2: Identify how many movies were released from 2001 to 2005 (inclusive).

Your query result Table should look like this:

```text
+------------+
| num_movies |
+------------+
| ...        |
+------------+
```

In [69]:
def get_num_movies_released_between_years_query(start_year=2001, end_year=2005):
    """
    Generate the SQL query to show the number of movies released in a interval of years
    IN: start_year, int, the start year
        end_year, int, the end year
    OUT: str, the SQL query
    """
    
    return f"""
    __Your_SQL_Query_Here__
    """

In [ ]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    query = get_num_movies_released_between_years_query()
    res = do_query(cursor, query)

#### Task 3: Identify the number of movies released by genres

##### Task 3.1: Identify all the movie genres. Sort the genres in alphabetical order.

Your query result Table should look like this:

```text
+-------+
| genre |
+-------+
| ...   |
+-------+
```

In [74]:
def get_all_movie_genres_query():
    """
    Generate the SQL query to show all the movie genres in alphabetical order
    OUT: str, the SQL query
    """
    
    return f"""
    __Your_SQL_Query_Here__
    """

In [ ]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    query = get_all_movie_genres_query()
    res = do_query(cursor, query)

##### Task 3.2: Identify the top 3 genres with the most number of movies released in 2010.

Your query result Table should look like this:

```text
+-------+-------------+
| genre | num_moivies |
+-------+-------------+
| ...   | ...         |
+-------+-------------+
```

Note: break ties by sorting genres in alphabetical order

In [80]:
def get_top_movie_genres_in_year_query(year=2010, num_genres=3):
    """
    Generate the SQL query to show the top genres with the most number of movies released in a year
    IN: year, int, the year
        num_genres, int, the number of genres to return
    OUT: str, the SQL query
    """
    
    return f"""
    __Your_SQL_Query_Here__
    """

In [ ]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    query = get_top_movie_genres_in_year_query()
    res = do_query(cursor, query)

#### Task 4: Identify the top rated movies by users

##### Task 4.1: Identify the top 5 highest rated movies of 2017. Keep one decimal place for the computation of average rating.

Your query result Table should look like this:

```text
+-------+------------+
| title | avg_rating |
+-------+------------+
| ...   | ...        |
+-------+------------+
```

Hint: Use `ROUND(num, decimal_places)` function to round off the average rating to one decimal place.

For example:
```sql
SELECT ROUND(AVG(rating.rating, 1) FROM rating;
```

In [ ]:
def get_top_movies_in_year_query(year=2017, num_movies=5):
    """
    Generate the SQL query to show the top movies of a year
    IN: year, int, the year
        num_movies, int, the number of movies to return
    OUT: str, the SQL query
    """
    
    return f"""
    __Your_SQL_Query_Here__
    """

In [ ]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    query = get_top_movies_in_year_query()
    res = do_query(cursor, query)

#### Task 4.2: Identify the users who have an average rating of at least 8.0 for movies in the years 2010-2015 (inclusive). Sort the users by their name. Keep one decimal place for the computation of average rating.

Your query result Table should look like this:

```text
+----------+------------+
| uname    | avg_rating |
+----------+------------+
| ...      | ...        |
+----------+------------+
```

In [ ]:
def get_users_with_high_average_rating_between_years_query(start_year=2010, end_year=2015, min_avg_rating=8.0):
    """
    Generate the SQL query to show the users with high average rating in a range of years
    IN: start_year, int, the start year
        end_year, int, the end year
        min_avg_rating, float, the minimum average rating
    OUT: str, the SQL query
    """
    
    return f"""
    __Your_SQL_Query_Here__
    """

In [ ]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    query = get_users_with_high_average_rating_between_years_query()
    res = do_query(cursor, query)

#### Task 4.3: Identify the ratings given by the user `yVIBT711` for movies released in the years 2010-2015 (inclusive). Sort the movies by their release date in ascending order.

Your query result Table should look like this:

```text
+-------+--------+--------------+
| title | rating | release_date |
+-------+--------+--------------+
| ...   | ...    | ...          |
+-------+--------+--------------+
```

Note: break ties by movie title in ascending order.

In [86]:
def get_user_ratings_for_movies_between_years_query(user_name='yVIBT711', start_year=2010, end_year=2015):
    """
    Generate the SQL query to show the ratings given by a user for movies released in a range of years
    IN: user_name, str, the user name
        start_year, int, the start year
        end_year, int, the end year
    OUT: str, the SQL query
    """
    
    return f"""
    __Your_SQL_Query_Here__
    """

In [ ]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    query = get_user_ratings_for_movies_between_years_query()
    res = do_query(cursor, query)

#### Task 4.4: Identify the movies released in the same year as the movie `Wonder Woman` and have a higher average rating than `Wonder Woman`. Sort the movies by their average rating in descending order. Keep one decimal place for the computation of average rating.

Your query result Table should look like this:

```text
+-------+------------+
| title | avg_rating |
+-------+------------+
| ...   | ...        |
+-------+------------+
```

Note: break ties by movie title in ascending order.

In [ ]:
def get_movies_higher_rating_than_movie_query(movie_title='Wonder Woman'):
    """
    Generate the SQL query to show the movies released in the same year as a movie and have a higher average rating
    IN: movie_title, str, the movie title
    OUT: str, the SQL query
    """
    
    return f"""
    __Your_SQL_Query_Here__
    """

In [ ]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    query = get_movies_higher_rating_than_movie_query()
    res = do_query(cursor, query)

### Note: Do not forget to close the connection to the database.

In [ ]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    cursor.close()
    mydb.close()